@import 'colors';
@import 'fonts';
@import 'spin';

$shadow: 2px 2px 0 $shadow-color;

body {
    margin: 0;
}

.app {
    background-color: $bg-color;
    color: $react-color;
    font-family: quest;
    font-size: 30px;
    padding: 50px;
    text-align: center;

    .logo {
        height: 220px;
        filter: drop-shadow($shadow);
    }

    h1 {
        font-size: 5em;
        letter-spacing: 5px;
        margin: 0.16em;
        text-shadow: $shadow;
    }
}

.rotate {
    animation: spin 10s linear infinite;
}
